<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>study-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button color="primary" size="small" expand="block" [routerLink]="['d-three']">
      <ion-icon name="bicycle"></ion-icon>
      D3-demo1
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="primary" size="small" expand="block" [routerLink]="['d-three-one']">
      <ion-icon name="bicycle"></ion-icon>
      D3-demo2
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="primary" size="small" expand="block" [routerLink]="['d-three-tw']">
      <ion-icon name="bicycle"></ion-icon>
      D3-demo3
    </ion-button>
  </ion-item>

</ion-content>